{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color: #f0f0f0; border-radius: 8px;" >
    <div class="row">
        <div class="col-md-6 m-auto">
            <a href="{{url_for('apigames')}}" class="btn btn-dark"></a>
              <br>
              <br>
            <div class="card">
                <img src="{{gameInfo.thumbnail}}">
                    <div class="card-body m-auto">
                    <h3>{{jogo.title}}</h3>
                    <p>{{jogo.genre}}</p>
                    <p>{{jogo.short_description}}</p>
                    <p>{{jogo.platform}}</p>
                    <p>{{jogo.genre}}</p>
                    <p>{{jogo.publisher}}</p>
                    <p>{{jogo.release_sate}}</p>
                    <a href="{{gameInfo.freetogame_profile_url}}" class="btn btn-danger">Jogar Agora!</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content}