{% extends 'base.html' %}

{% block content %}

<div class="' col-md-6 m-auto">
    <h3 style="text-align: center;"> Editar Jogo</h3>
    <form action="{{url_for('editgame', id=game.id)}}" method="POST">
        <input type="text" name="titulo" classe="'form-control" value="{{game.titulo}}" required>
        <br>
         <input type="number" name="ano" classe="'form-control" value="{{game.ano}}" required>
        <br>
        <input type="text" name="categoria" classe="'form-control" value="{{game.categoria}}" required>
        <br>
        <input type="text" name="plataforma" classe="'form-control" value="{{game.plataforma}}" required>
        <br>
        <input type="number" name="preco" classe="'form-control" value="{{game.preco}}" required>
        <br>
        <input type="number" name="quantidade" classe="'form-control" value="{{game.quantidade}}" required>
<br>
<button type="submit" class="btn btn-warning">Alterar</button>
<a href="{{url_for('estoque')}}">
<input type="button" value="Cancelar" class="btn btn-danger"></a>







    </form>
</div>

{% endblock content %}